.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.login-form{
  max-width: 520px;
  margin: 0 auto;
}

button {
  margin-top: 0.4rem;
}

.dashboard {
  display: flex;
  flex-direction: column;
}
.side-bar-left{
  min-width: 80px;
  max-width: 200px;
  border-right: 1px solid #ccc;
  margin-right: 1rem;
  padding-right: 1rem;
}

.side-bar-left ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-pharmacies{
  flex-grow: 1;
}

.connected-div{
  display: flex;
  flex-direction: row;
  font-size: 12px;
  align-items: center;
    justify-content: center;
}
.connected-div span{
  margin: 0.2rem;
}

.connected-div button {
  padding: 2px;
}

.alert {
  position: fixed;
  top: 1rem;
  right: 1rem;
}
.card {
  margin-bottom: 0.6rem;
  box-shadow: 2px 1px 1px 0px #ececec;
}
.card:hover {
  box-shadow: 2px 2px 4px 0px #cfcfcf;
}
.day {
  padding: .4rem;
  border-bottom: 1px solid #ccc;
  border-radius: .2rem;
  margin-bottom: .4rem;
}
.day b {
  padding: .4rem;
  color: #464646;

}
.day:hover {
  border-color: #61dafb;
  cursor: pointer;
}
.cards-holder{
  min-height: 120px;
  margin-top: 0.4rem;
}

.tools {
  padding: 0.4rem;
  display: flex;
  flex-direction: row;
  flex-flow: row-reverse;
}

.async-select {
  max-width: 220px;
    font-size: 14px;
    min-width: 142px;
}

.pharmacy-input input {
  margin-left: .2rem;
  margin-right: .2rem;
}
.svg-container {
  width: 48px;
    height: 48px;
    border: 1px solid #ccc;
    justify-content: center;
    display: flex;
    align-items: center;
    align-self: end;
    margin-right: 0.8rem;
    position: absolute;
    right: 0;
    top: calc(50% - 24px);
    border-radius: 4px;
   
}
.svg-container:hover{
  border-color: rgb(240, 120, 120);
}

.home-page{
  margin-top: 10vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.App-header a {
  text-decoration: none;
}

.how-it-works {
  margin: 0 auto;
  max-width: 460px;
  padding: 2rem;
}

.how-it-works > ul{
  margin-top: 1rem;
  list-style: none;
  
}

.subscription {

  margin-top: 4rem;
  text-align: center;
}

.subscription p {
  padding: .4rem;
  color: #282c34;
  font-size: 10px;
}